extends ../layouts/main-layout.pug

block content
  main.main_content.productDetails
    h1 #{product.title}
    hr
    img(src=product.imgUrl, alt=product.title)
    h2 #{product.price}$
    p #{product.description}
    .edit-product-item.details-product-item
      a.gradient-btn.gradient-a(href='/products') All products
      form(action="/add-to-card", method="post")
        button.gradient-btn Add to Card